<%= form_for(@learning) do |f| %>
  <% if @learning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learning.errors.count, "error") %> prohibited this learning from being saved:</h2>

      <ul>
      <% @learning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learner_name %><br>
    <%= f.text_field :learner_name %>
  </div>
  <div class="field">
    <%= f.label :what_was_learned %><br>
    <%= f.text_field :what_was_learned %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
