<h1>Listing learnings</h1>

<table>
  <thead>
    <tr>
      <th>Learner name</th>
      <th>What was learned</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @learnings.each do |learning| %>
      <tr>
        <td><%= learning.learner_name %></td>
        <td><%= learning.what_was_learned %></td>
        <td><%= link_to 'Show', learning %></td>
        <td><%= link_to 'Edit', edit_learning_path(learning) %></td>
        <td><%= link_to 'Destroy', learning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning', new_learning_path %>
